<div class="events story drop-shadow facebook-wall-clearfix">
	<div class="events-content story-content" role="article">
		<div class="events-header story-headline">
			<span class="events-header-text"><a href='https://www.facebook.com/<%=this.facebookUser%>/events'><%=localize('Events')%></a></span>			
		</div>
		<% for(var i=0; i<this.data.length; i++){ %>		
			<div class='event facebook-wall-clearfix'>
				<img class='event-image left' src='<%=this.data[i].picture.data.url%>'  />
				<div class='event-details facebook-wall-clearfix'>
					<div class='event-title'><a href='https://www.facebook.com/events/<%=this.data[i].id%>'><%=this.data[i].name %> fb page</a></div>
					<% if(this.showTicketLink && this.data[i].ticket_uri) { %>
						<div class='event-title'><a href='<%=this.data[i].ticket_uri%>'><%=localize('Event Tickets')%></a></div>
					<% } %>
					<div class='event-time'><%=this.data[i].start_time%></div>
					<div class='event-location'><%=this.data[i].location%></div>
				</div>
			</div>
		<% } %>
	</div>
</div>