<h1>Equipes</h1>

<h2>Equipes A</h2>

<table>
  <thead>
    <tr>
      <th>Jogador</th>
      <th>Habilidade</th>
    </tr>
  </thead>

  <tbody>
    <% @equipes[0].getJogadoresArray.each do |jog| %>
      <tr>
        <td><%= jog.nome %></td>
        <td><%= jog.habilidade %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>Equipes B</h2>

<table>
  <thead>
    <tr>
      <th>Jogador</th>
      <th>Habilidade</th>
    </tr>
  </thead>

  <tbody>
    <% @equipes[1].getJogadoresArray.each do |jog| %>
      <tr>
        <td><%= jog.nome %></td>
        <td><%= jog.habilidade %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Partida', new_partida_path %>
<%= link_to 'Salvar', "/partida/#{@partida.id}/salva_equipes" %>

