<p id="notice"><%= notice %></p>

<p>
  <strong>Partida:</strong>
  <%= @jogador.partida %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @jogador.nome %>
</p>

<p>
  <strong>Habilidade:</strong>
  <%= @jogador.habilidade %>
</p>

<p>
  <strong>Hab defesa:</strong>
  <%= @jogador.hab_defesa %>
</p>

<p>
  <strong>Hab meio:</strong>
  <%= @jogador.hab_meio %>
</p>

<p>
  <strong>Hab ataque:</strong>
  <%= @jogador.hab_ataque %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @jogador.telefone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @jogador.email %>
</p>

<p>
  <strong>Mensalista:</strong>
  <%= @jogador.mensalista %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @jogador.ativo %>
</p>

<%= link_to 'Edit', edit_jogador_path(@jogador) %> |
<%= link_to 'Back', jogadors_path %>
