<h1>Listing jogadors</h1>

<table>
  <thead>
    <tr>
      <th>Partida</th>
      <th>Nome</th>
      <th>Habilidade</th>
      <th>Hab defesa</th>
      <th>Hab meio</th>
      <th>Hab ataque</th>
      <th>Telefone</th>
      <th>Email</th>
      <th>Mensalista</th>
      <th>Ativo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jogadors.each do |jogador| %>
      <tr>
        <td><%= jogador.partida %></td>
        <td><%= jogador.nome %></td>
        <td><%= jogador.habilidade %></td>
        <td><%= jogador.hab_defesa %></td>
        <td><%= jogador.hab_meio %></td>
        <td><%= jogador.hab_ataque %></td>
        <td><%= jogador.telefone %></td>
        <td><%= jogador.email %></td>
        <td><%= jogador.mensalista %></td>
        <td><%= jogador.ativo %></td>
        <td><%= link_to 'Show', jogador %></td>
        <td><%= link_to 'Edit', edit_jogador_path(jogador) %></td>
        <td><%= link_to 'Destroy', jogador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jogador', new_jogador_path %>
